# OD Server Settings
odHost=
odPort=
odUser=
odPassword=
odInstance=
odInstallDir=/opt/ibm/ondemand/V10.5/
transformXML=/opt/ibm/ondemand/V10.5/config/arsxform.xml
secureAPI=False
language=ENU
maxHits=100
tempDir=/opt/qar/tmp/arstmp
traceDir=/opt/qar/tmp/traceDir
traceLevel=4
odCachedFolderList=

#SSL Settings
USE_SSL=FALSE
SSL_KEYRINGFILE=
SSL_KEYRINGSTASH=
